<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/chat.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>채팅</title>
  </head>
  <body>
    <div id="chatHeader">
      <button id="chatExit" onclick="exitChat()">
        <img
          id="backBtnImg"
          src="https://kdt8-cs.s3.ap-northeast-2.amazonaws.com/%EC%A3%BC%EC%B0%A8%ED%95%98%EC%B9%B4_icon/Vector.svg"
        />
      </button>
      <h2 id="chatParkName"><%= parkingName %></h2>
    </div>
    <hr />
    <div id="main">
      <ul id="lists"></ul>
    </div>
    <div class="body">
      <div id="msg">
        <div id="notice"></div>
      </div>
      <form id="chat">
        <input type="text" id="message" placeholder="메세지 입력" />
        <button id="chatSendBtn">
          <img
            id="chatSendBtnImg"
            src="https://kdt8-cs.s3.ap-northeast-2.amazonaws.com/%EC%A3%BC%EC%B0%A8%ED%95%98%EC%B9%B4_icon/Cursor.svg"
          />
        </button>
      </form>
      <form onsubmit="fileupload(event)">
        <input type="file" id="files" multiple /><br />
      </form>
    </div>

    <script>
      const roomId = "<%= roomId %>";
      const requestUserId = "<%= userId %>";
      const joinUserNick = "<%= joinUserNick %>";
      const parkingName = "<%= parkingName %>";
      // const roomId = document.querySelector(".body").id;
      console.log("roomId", roomId);
      console.log("requestUserId", requestUserId);
      console.log("joinUserNick", joinUserNick);
      console.log("parkingName", parkingName);

      const socket = io();
      let userid;
      let usernick;
      console.log(socket);
      const token = localStorage.getItem("token");
      const chatForm = document.querySelector("#chat");
      const msg = document.querySelector("#msg");
      const notice = document.querySelector("#notice");
      const sendUserh2 = document.querySelector("#sendUser");

      //메세지 띄우기
      socket.on("newMessage", (message, nick, profile) => {
        console.log("newMessage", message, nick, profile);
        const div = document.createElement("div"); //밖div
        const span = document.createElement("span");
        const p = document.createElement("p");
        const img = document.createElement("img");

        console.log("닉", usernick);
        if (usernick === nick) {
          div.classList.add("my-chat");
          p.textContent = `${message}`;
          div.appendChild(p);
        } else {
          div.classList.add("other-chat");
          span.innerHTML = `<span id="nick">${nick}</p>`;
          p.innerHTML = `<p id="othermessage">${message}</p>`;
          img.src = `${profile}`;
          img.style.width = "50px";
          span.appendChild(img);
          span.appendChild(p);
          div.appendChild(span);
        }
        //채팅텍스트
        msg.appendChild(div);
      });

      // 특정 방에 조인
      socket.emit("joinRoom", roomId, requestUserId);

      //입장 메세지 이벤트
      socket.on("notice", (message) => {
        const div = document.createElement("div");
        const p = document.createElement("p");
        p.textContent = message;

        div.appendChild(p);
        notice.appendChild(div);
      });

      //jwt토큰검증
      socket.emit("jwt", { token }, () => {
        console.log("JWT 토큰 서버로 전송");
      });
      socket.on("jwt", (resultValue) => {
        userid = resultValue.id;
        usernick = resultValue.nickname;

        //채팅방 생성
        socket.emit(
          "create",
          userid,
          usernick,
          roomId,
          requestUserId,
          joinUserNick,
          parkingName,
          () => {}
        );
      });

      socket.on("history", (historyChat) => {
        const div = document.createElement("div");
        const p = document.createElement("p");
        if (historyChat) {
          if (historyChat.FILE != null) {
            p.innerHTML = historyChat.FILE;
          } else {
            p.textContent = historyChat.CONTENT;
          }
          div.appendChild(p);
          msg.appendChild(div);
        }
      });

      //메세지 보내기
      chatForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const user = userid;
        const message = document.querySelector("#message");
        const msg = {
          nick: usernick,
          userid: userid,
          message: message.value,
          file: null,
          roomId: roomId,
          joinUserId: requestUserId,
        };
        socket.emit("sendMessage", msg);
        message.value = "";
      });

      //채팅방 나가기
      function exitChat() {
        socket.emit("disconnect");
      }

      //파일전송
      async function fileupload(e) {
        e.preventDefault();
        //파일에 접근
        const file = document.querySelector("#files");
        console.log(file.files);
        //폼 데이터 생성
        const formData = new FormData();
        //파일이 여러개이므로 반복문을 사용
        for (let i = 0; i < file.files.length; i++) {
          formData.append("files", file.files[i]);
        }

        try {
          const res = await axios({
            method: "POST",
            url: "/upload",
            data: formData,
            headers: {
              "Content-Type": "multipart/form-data",
            },
          });
          console.log("res");
          res.data.forEach((elem) => {
            const img = document.createElement("img");
            img.src = elem.location; //aws는 location!!
            img.style.width = "500px";
            resultBox.appendChild(img);
          });
        } catch (error) {
          console.log(error);
        }
      }
    </script>
  </body>
</html>
