<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <title>채팅내역</title>
    <style>
      #chatTitle {
        display: flex;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="chatTitle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
      </svg>
      <h1>채팅</h1>
    </div>
    <hr />
    <% if(chatListDB.length !=0){ %> <% for (let i = 0; i <
    chatListDB.length;i++) { %>
    <button
      id="<%= chatListDB[i].roomid %>"
      onclick="chatBtn(`<%= chatListDB[i].roomid %>`)"
    >
      <div class="join" id="<%= chatListDB[i].joinusernick %>">
        <%= chatListDB[i].joinusernick %>
      </div>
      <div><%= chatListDB[i].chatroom.chats.content %></div>
    </button>
    <% } %> <% } else { %>
    <button>채팅 만들기</button>
    <% }%>

    <script>
      //채팅방 이동
      function chatBtn(roomId) {
        const joinUser = document.querySelector(".join").id;
        console.log("chat이동");
        console.log("joinUser", joinUser);
        location.href = `/chat/${roomId}/${joinUser}`;
      }
    </script>
  </body>
</html>
