<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jsonwebtoken@8.5.1"></script> -->

    <title>profile</title>
  </head>
  <body>
    <!-- 회원 정보 수정하기, (탈퇴하기 버튼) -->
    <h2><%= data.nickname %>님 안녕하세요!</h2>
    <br />
    <form name="profileView">
      <img id="profileImage" src="<%= data.profile %>" alt="프로필 이미지" />
      <br />
      <label for="userid">아이디</label><br />
      <input
        type="text"
        id="userid"
        value="<%= data.userid %>"
        placeholder="아이디"
        readonly
      /><br />
      <!-- <input
        type="password"
        id="password"
        value="<%= data.password %>"
        placeholder="비밀번호"
      /><br /> -->
      <label for="name">이름</label><br />
      <input
        type="text"
        id="name"
        value="<%= data.name %>"
        placeholder="이름"
      /><br />
      <label for="nickname">닉네임</label><br />
      <input
        type="text"
        id="nickname"
        value="<%= data.nickname %>"
        placeholder="닉네임"
      /><br />
      <label for="phone">휴대폰 번호</label><br />
      <input
        type="text"
        id="phone"
        value="<%= data.phone %>"
        placeholder="휴대폰번호"
      /><br />
      <button type="button" onclick="editPage()">수정하기</button>
      <button type="button" onclick="drop()">탈퇴하기</button>
    </form>

    <script>
      function editPage() {
        const userid = document.getElementById('userid').value;
        window.location.href = `/mypage/${userid}/edit`;
      }

      // 회원 탈퇴 버튼
      function drop() {
        if (!confirm('회원 탈퇴 하시겠습니까?')) {
          return;
        }
        axios({
          method: 'DELETE',
          url: `/mypage/${userid}/drop`,
          data: {
            userid: document.querySelector('#userid').value,
          },
        }).then((res) => {
          if (res.data.result) {
            alert('회원 탈퇴 완료되었습니다.');
            window.location.href = '/';
          }
        });
      }
    </script>
  </body>
</html>
