<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script
  type="text/javascript"
  src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=YOUR_KAKAO_MAPS_API_KEY"
></script>
        <title>Document</title>
    </head>
    <body>
        <form onsubmit="fileupload(event)">
            <input type="file" id="files" /><br />
            <button type="submit">업로드</button>
        </form>
        <br />
        <input type="text" id="comment" placeholder="">
        <div style="width: 50px; height: 50px; background-color: red" onclick='enrollReview(<%= publicParkingDetailResult.id %>)'>리뷰작성</div>
        <input type="text" id="score">
        <div class="result"></div>
        <div><%= publicParkingDetailResult.id%></div>
        <input type="hidden" value="<%= publicParkingDetailResult.id%>" id="id">
        <% for(let i=0 ; i<result.length ; i++) {%>
            <div><%= result[i].nickname%></div>
            <div><%= result[i].score%></div>
            <div><%= result[i].comment%></div>
        <% }%>
        <div><%= average%></div>
        <script>
            const resultBox = document.querySelector('.result');
            async function fileupload(e) {
                e.preventDefault();
                //파일에 접근
                const file = document.querySelector('#files');
                console.log(file.files);
                //폼 데이터 생성
                const formData = new FormData();

                formData.append('file', file.files[0]);
                formData.append('shareparkname', '모두의 주차장');
                formData.append('address', '동작구 동작대로 31길 32');
                formData.append('starttime', '0900');
                formData.append('endtime', '2100');
                formData.append('price', 1000);
                formData.append('lat', 37.1239581);
                formData.append('lng', 120.1246177);

                try {
                    const result = await axios({
                        method: 'POST',
                        url: '/shareparking',
                        data: formData,
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            Authorization: `Bearer ${localStorage.getItem('token')}`,
                        },
                    });
                    console.log(result);
                } catch (error) {
                    console.log(error);
                }
            }

            async function enrollReview(id) {
                const result = await axios({
                    method: 'POST',
                    url: '/publicparking/detail/reviews',
                    data : {
                        publicParkingId : id,
                        score : document.getElementById('score').value,
                        comment : document.getElementById('comment').value,
                    },
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('token')}`,
                    },
                })
                console.log(result);
                // if(result) {
                //
                // } else {
                //
                // }
            }
        </script>
    </body>
</html>
